<% include layouts/header %>
<style type="text/css">
  td {
    width: 30px;
    height: 30px;
  }
  table{
    border-color: black;
    border-width: 1px;
  }

  .wood {
	width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}

button{
  height:25px;
  width:65px;
}

#commandButtons{
  display:block;
margin-left:280px;
width:65px;
}

#playArea{
    float:left;
}

#container{
  margin-left: auto;
  margin-right: auto;
  width:550px;
  height:271px;
}


.soil {
	width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
	background-color: #7D5D16;
}

.selected{
  border:2px solid white;
}

</style>
<html>
    <head>
        <title>Tutorial</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <script src="/socket.io/socket.io.js"></script>

<body>
  <div id = "container">
<div id = 'playArea'></div><div id = 'commandButtons'>
  <button class 'attackButton' id="attack" onclick ="attack()">Attack</button>
  <button class 'moveButton' id="move" onclick="move()")>Move</button>
</div>
</div>

<script>
var socket = io();
socket.on('connect', function() {
  console.log(socket.id);
});
var lastClicked;
var selected;
var waiting = false;
var color = 'black';
var mapArray = <%- JSON.stringify(mapArray) %>;
var html = '<table id="mapTable">';
for (var y = 0; y < mapArray.length; y++) {
html += '<tr>';
for (var x = 0; x < mapArray[y].length; x++) {
if (mapArray[y][x].name == "Grass")
  html += '<td id = "cell'+x+'-'+y+'" class = "grass"></td>'
else
  html += '<td id = "cell'+x+'-'+y+'" class = "soil""></td>'
}
html += '</tr>';
}
html += '</table>';
document.getElementById('playArea').innerHTML = html;
$(document).ready(function(){
$('#playArea #mapTable td').on('click', function() {
  if(lastClicked){
    lastClicked.toggleClass('selected');
  }
    $(this).toggleClass('selected');
    lastClicked = $(this);
    selected = $(this).attr('id')
});
});

function attack(){
  console.log(selected);
}

function move(){
  console.log(selected);
  socket.emit("move", {movePos : selected, socket_id: socket.id});
}
</script>
</html>
<% include layouts/footer %>
