<% include layouts/header %>
<style type="text/css">

button{
  height:25px;
  width:65px;
}

</style>
<html>
    <head>
        <title>Tutorial</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <script src="/socket.io/socket.io.js"></script>

<body>
  <div id = "container">
<div id = 'playArea'></div><div id = 'commandButtons'>
  <button class 'attackButton' id="attack" onclick ="attack()">Attack</button>
  <button class 'moveButton' id="move" onclick="move()")>Move</button>
</div>
</div>

<script>
var username = "<%= username %>";
var curX = 0;
var curY = 0;
var selected;
var lastClicked;
console.log(username);
var socket = io();
setUsername();

function setUsername() {
socket.emit('add user', username);
}

socket.on('startMap', function (data) {
socket.emit('getMap');
});

socket.on('heresTheMap', function (response){

var mapArray_1 = response.loc_info;
var enemies = response.loc_info["Enemies"];

var mapArray = mapArray_1["actual"];

var html = '<table id="mapTable">';
for (var y = 0; y < mapArray.length; y++) {
html += '<tr>';
for (var x = 0; x < mapArray[y].length; x++) {
if (mapArray[y][x].objtype == "Tile"){
  if(mapArray[y][x].symbol != null){
    html += '<td id = "cell'+x+'-'+y+'">'+mapArray[y][x].symbol+'</td>'
  }
  else{
  html += '<td id = "cell'+x+'-'+y+'"></td>'
  }
}else if(mapArray[y][x].objtype == "Enemy"){
  html += '<td id = "cell'+x+'-'+y+'">x</td>'
}else if(mapArray[y][x].objtype == "Player"){
  html += '<td id = "cell'+x+'-'+y+'">P1</td>'
}
}
html += '</tr>';
}
html += '</table>';
document.getElementById('playArea').innerHTML = html;
$(document).ready(function(){
$('#playArea #mapTable td').on('click', function() {
  if(lastClicked){
    lastClicked.toggleClass('selected');
  }
    $(this).toggleClass('selected');
    lastClicked = $(this);
    selected = $(this).attr('id')
});
});
});//end heresTheMap

function attack(){
  console.log(selected);
}

function move(){
  console.log(selected);
  socket.emit("move", {movePos : selected, socket_id: socket.id});
}
</script>
</html>
<% include layouts/footer %>
