<% include layouts/header %>
<style type="text/css">

button{
  height:25px;
  width:65px;
}

</style>
<html>
    <head>
        <title>Tutorial</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <script src="/socket.io/socket.io.js"></script>

<body>
  <div id = "container">
<div id = 'playArea'></div><div id = 'commandButtons'>
  <button class 'attackButton' id="attack" onclick ="attack()">Attack</button>
  <button class 'moveButton' id="move" onclick="move()")>Move</button>
</div>
</div>

<script>
var socket = io();
socket.on('connect', function() {
  console.log(socket.id);
});
var lastClicked;
var selected;
var waiting = false;
var color = 'black';
var mapArray_1 = <%- JSON.stringify(mapArray) %>;
var enemies = <%- JSON.stringify(enemies) %>;
var mapArray = mapArray_1["training_area_actual"];
mapArray[enemies["Yarth"].loc_y][enemies["Yarth"].loc_x] = enemies["Yarth"];
var html = '<table id="mapTable">';
for (var y = 0; y < mapArray.length; y++) {
html += '<tr>';
for (var x = 0; x < mapArray[y].length; x++) {
if (mapArray[y][x].objtype == "Tile"){
  if(mapArray[y][x].symbol != null){
    html += '<td id = "cell'+x+'-'+y+'">'+mapArray[y][x].symbol+'</td>'
  }
  else{
  html += '<td id = "cell'+x+'-'+y+'"></td>'
  }
}else if(mapArray[y][x].objtype == "Enemy"){
  html += '<td id = "cell'+x+'-'+y+'">x</td>'
}
}
html += '</tr>';
}
html += '</table>';
document.getElementById('playArea').innerHTML = html;
$(document).ready(function(){
$('#playArea #mapTable td').on('click', function() {
  if(lastClicked){
    lastClicked.toggleClass('selected');
  }
    $(this).toggleClass('selected');
    lastClicked = $(this);
    selected = $(this).attr('id')
});
});

function attack(){
  console.log(selected);
}

function move(){
  console.log(selected);
  socket.emit("move", {movePos : selected, socket_id: socket.id});
}
</script>
</html>
<% include layouts/footer %>
